<style>
  .note-container {
    display: flex;
    flex-wrap: wrap;
  }

  .note-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
  }

  .note-card h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .note-card p {
    margin: 0;
    font-size: 14px;
    color: #777;
    display: block;
    max-height: 100px;
    overflow-y: auto;
    white-space: pre-line;
  }

  .note-card a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
  }

  .note-card a:hover {
    text-decoration: underline;
  }
</style>

<h1 style="color:red">Archived Notes</h1>
<%= link_to 'Back to Notes', notes_path %><br><br>

<div class="note-container">
  <% @archived_notes.each do |note| %>
    <div class="note-card">
      <h2><%= note.title %></h2>
      <p><%= note.content %></p><br>
      <%= link_to 'Unarchive', unarchive_note_path(note), method: :patch %>
    </div>
  <% end %>
</div>
