<h1>Note</h1>

<table>
  <tr>
    <th>Title:</th>
    <td><%= @note.title %></td>
  </tr>
  <tr>
    <th>Content:</th>
    <td><%= @note.content %></td>
  </tr>
</table>

<br>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
